$english_font: 'Poppins', sans-serif;
$arabic_font: 'Cairo', sans-serif;
$btn-rounded-border-radius: 5px;

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: $arabic_font;
}

.v-application .text-overline {
  font-family: $arabic_font !important;
}
td .v-list {
  background: transparent;
  .v-list-item {
    padding: 0;
  }
}

html[dir='rtl'] {
  .v-list-item__action:first-child,
  .v-list-item__icon:first-child {
    margin-left: 10px;
  }
}

html[dir='ltr'] {
  .v-list-item__action:first-child,
  .v-list-item__icon:first-child {
    margin-right: 10px;
  }
}

a {
  text-decoration: none;

  i {
    margin: 0 5px;
  }
}

html[dir='rtl'] {
  .v-application,
  button,
  input,
  optgroup,
  select,
  textarea,
  .vue-dropzone,
  .text-overline {
    font-family: $arabic_font !important;
  }

  .v-application ul,
  .v-application ol {
    padding-right: 24px;
    padding-left: 0 !important;
  }

  .v-date-picker-table {
    direction: rtl !important;
  }
}

html[dir='ltr'] {
  .v-application,
  button,
  input,
  optgroup,
  select,
  textarea,
  .vue-dropzone,
  .text-overline {
    font-family: $english_font !important;
  }

  .v-application ul,
  .v-application ol {
    padding-left: 24px;
    padding-right: 0 !important;
  }

  .v-date-picker-table {
    direction: ltr !important;
  }
}

.v-breadcrumbs {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.starrisk {
  color: #d01186 !important;
}

.container {
  width: 100%;
  padding: 12px 25px;
}

.v-application .rounded {
  border-radius: 5px;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 40px;
  padding: 0 25px;
}

.v-text-field--filled > .v-input__control > .v-input__slot,
.v-text-field--full-width > .v-input__control > .v-input__slot,
.v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 40px;
}

.v-application--is-rtl .v-data-footer__pagination {
  direction: ltr;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
  height: auto;
  min-height: 48px;
}

// thead th {
//   background: #f7f7f7 !important;
//   border-bottom-color: transparent !important;
// }

.v-toolbar__content {
  padding: 0 !important;
}

.v-text-field.v-text-field--enclosed {
  border-radius: 5px !important;
}

.error--text {
  font-size: 12px;
}

.v-btn {
  box-shadow: none;
  border-radius: 5px;
}

.form-label {
  display: flex;
  font-size: 15px;
}

.download-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.per-pages {
  display: inline-block;

  .v-input {
    width: 85px;
    display: inline-block;
  }
}

.v-application--is-ltr .per-page-grid {
  text-align: right;
}

.v-application--is-rtl .per-page-grid {
  text-align: left;
}

.text-xs-center {
  @include mobile {
    text-align: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* width */
.side-bar .v-navigation-drawer__content::-webkit-scrollbar {
  width: 3px;
  height: 0;
}

/* Track */
.side-bar .v-navigation-drawer__content::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.side-bar .v-navigation-drawer__content::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 5px;
}

// .v-application--is-ltr .per-pages-grid {
//   text-align: right;
// }

// .v-application--is-rtl .per-pages-grid {
//   text-align: left;
// }
.v-application .text-overline {
  font-size: 15px !important;
  letter-spacing: normal !important;
}

.v-application {
  .pagination-total {
    justify-content: flex-end;
    // @include mobile {
    //   justify-content: center !important;
    // }
  }

  .per-pages-grid {
    @include mobile {
      justify-content: center;
    }
  }
}

.v-text-field--full-width .v-input__prepend-outer,
.v-text-field--full-width .v-input__prepend-inner,
.v-text-field--full-width .v-input__append-inner,
.v-text-field--full-width .v-input__append-outer,
.v-text-field--enclosed .v-input__prepend-outer,
.v-text-field--enclosed .v-input__prepend-inner,
.v-text-field--enclosed .v-input__append-inner,
.v-text-field--enclosed .v-input__append-outer {
  margin-top: 10px;
}

.v-application .primary--text {
  color: #000 !important;
  caret-color: #000 !important;
}

.v-select.v-text-field--outlined:not(.v-text-field--single-line)
  .v-select__selections {
  padding: 0;
}

.v-input--switch {
  label {
    margin-bottom: 0;
  }
}

.per-pages {
  .v-text-field__details {
    display: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.chip-container {
  border-radius: 8px !important;
}

.select-permissions {
  .v-chip {
    border-radius: 8px !important;
    padding: 10px;
    font-weight: 500 !important;

    .mdi-close-circle::before {
      content: '\f0156' !important;
      font-size: 12px !important;
    }
  }

  .v-select__selections {
    max-height: 300px !important;
    overflow-y: auto !important;
  }
}

.radius-8 {
  border-radius: 8px !important;
}

.dote {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
}

.v-select__selection {
  min-height: 20px !important;
}

.v-application--is-rtl {
  .phone_field {
    .v-input__control > .v-input__slot {
      padding-left: 3px !important;
    }
    .v-text-field__prefix {
      margin-right: 4px;
      border-right: 0px solid #c5c5c5;
      border-radius: 4px;
    }

    label {
      direction: rtl;
    }
  }

  .phone_field.v-input--has-state {
    > .v-input__control > .v-input__slot {
      padding-left: 4px !important;
    }
  }
}

.phone_field .v-text-field__prefix {
  background: transparent;
  height: 38px;
  padding: 0 8px;
  line-height: 38px;
  max-height: 38px;
}

.phone_field.v-input--has-state .v-text-field__prefix {
  height: 36px;
  line-height: 36px;
  max-height: 36px;
}
.hidden-input .v-input__slot {
  display: none;
}
@media print {
  table {
    th,
    td {
      white-space: initial !important;
    }
  }

  @page {
    margin: 2cm;
    size: landscape;
  }

  tr {
    display: none !important;
  }
}

.v-date-picker-title__year {
  margin: auto !important;
  font-weight: bold;
  font-size: 18px !important;
}

.v-list-item__mask {
  font-weight: bold !important;
  background-color: transparent !important;
}

.v-date-picker-title__date {
  font-size: 14px !important;
}

.cursor {
  cursor: pointer;
}

.v-tooltip__content.menuable__content__active {
  opacity: 1 !important;
}

.hide-row {
  display: none !important;
}

.v-list-item.v-list-item--highlighted::before {
  opacity: 0 !important;
}

.card-shadow {
  box-shadow: 0 4px 25px 0 rgb(168 180 208 / 10%) !important;
}

.v-application--is-rtl
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding-right: 30px !important;
}

.v-input__append-inner {
  // margin: auto !important;
}

.v-application--is-rtl .ql-editor {
  /* direction: rtl; */
  text-align: right !important;
}

.v-application * {
  letter-spacing: normal !important;
  // text-transform: capitalize;
}

.ql-snow .ql-tooltip[data-mode='video']::before {
  content: 'أدخل الفيديو' !important;
  font-family: $arabic_font !important;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  content: 'حفظ' !important;
  font-family: $arabic_font !important;
  padding-right: 1px !important;
}

.ql-snow .ql-tooltip.ql-editing {
  margin: auto !important;
  left: 1150px !important;
  right: 10px !important;
}

.v-tab {
  &--active {
    color: #fff !important;
  }
}

.active-tab {
  color: #fff !important;
}

.v-slide-group__content {
  overflow: hidden !important;
}

@media screen and (max-width: 400px) {
  .v-text-field input {
    font-size: 14px;
  }
}

.v-toolbar__title {
  font-size: 16px !important;
}

.v-list-item--link {
  padding-right: 2em;
}

.v-item-group {
  .v-list-item--link {
    padding-right: 1em;
  }
}

.v-application--is-rtl
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding-right: 3em !important;
}

.v-breadcrumbs__item {
  font-weight: bold;
}

.v-dialog__content {
  .v-btn {
    min-width: 115px !important;
  }
}

.v-avatar {
  border-radius: 5px;
}

.img-preview-container,
.img-preview-img {
  height: 100%;
}

.v-application--is-rtl .v-text-field__suffix {
  padding: 10px !important;
}

.v-input__slot {
  min-height: 40px !important;
}

.v-text-field--enclosed .v-input__append-inner {
  margin-top: 9px !important;
}

.v-text-field--enclosed .v-input__prepend-inner {
  margin-top: 9px !important;
}

.v-select.v-text-field--outlined:not(.v-text-field--single-line)
  .v-select__selections {
  padding: 0 !important;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 40px !important;
}
