$english_font: "Cairo", sans-serif;

// class="router-link-active
//  router-link-exact-active
//  bg-gray-900 text-white
//   rounded-md px-3 py-2 text-sm font-medium"
*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: $english_font;
}

.router-link-active {
  background-color: #374151;
  color: white;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #25293c;
  border-radius: 5px;
}
.ant-breadcrumb-link {
  &:hover {
    background: transparent !important;
  }
}

.product-container {
  // width: 50%;
  background: #fff;
  border-radius: 24px;
  height: fit-content;
  padding: 72px 24px;
  box-shadow: 0px 1.8882px 15.1056px rgba(0, 0, 0, 0.05);
  position: relative;
}
