$english_font: "Cairo", sans-serif;

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: $english_font;
}

.main-container {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.router-link-active {
  background-color: #374151;
  color: white;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #25293c;
  border-radius: 5px;
}
.ant-breadcrumb-link {
  &:hover {
    background: transparent !important;
  }
}
