$blue-theme: (
  primary: #3498db,
  secondary: #5dbbfa,
  table-header: #daebfc,
  table-hover: #f1f6fb,
  primary--dark: #3498db,
  secondary--dark: #00a0a6,
  table-header--dark:
    rgba(
      $color: #3498db,
      $alpha: 0.15,
    ),
  table-hover--dark:
    rgba(
      $color: #3498db,
      $alpha: 0.05,
    ),
  info: #2196f3,
  warning: #fb8c00,
  error: #ef1e41,
  green: #119146,
  success: #119146,
);

@each $color, $value in $blue-theme {
  :export {
    #{"" + $color}: $value;
  }
}
