.vue-dropzone {
  border-radius: 10px;
  height: 285px;
  overflow: auto;
  z-index: 1;
  position: relative;
}
.vue-dropzone > .dz-preview .dz-image img:not([src]) {
  width: 80px !important;
  height: 80px !important;
  filter: blur(8px);
}
.dropzone .dz-preview .dz-image img {
  border-radius: 10px;
}

.vue-dropzone > .dz-preview .dz-details {
  background-color: transparent !important;
}

html[dir='rtl'] .vue-dropzone > .dz-preview .dz-details {
  text-align: right !important;
}

.dropzone .dz-preview {
  margin: 0 5px 10px !important;
  min-height: 80px !important;
}

.dropzone .dz-preview .dz-progress {
  height: 4px !important;
  top: 75px !important;
  margin-top: 0 !important;
  bottom: 2px !important;
}

.dropzone .dz-preview .dz-progress span {
  background-color: #862a87 !important;
}

.vue-dropzone > .dz-preview.dz-success .dz-remove,
.vue-dropzone > .dz-preview .dz-remove {
  margin-left: 0 !important;
  padding: 0 !important;
  top: 3px !important;
  bottom: auto !important;
  border: none !important;
  left: 6px !important;
  font-size: 16px !important;
  color: $error !important;
  text-shadow: 0 0 2px black !important;
}

.vue-dropzone > .dz-preview.dz-processing:not(.dz-success) .dz-remove {
  font-size: 14px !important;
  color: #862a87 !important;
  z-index: 99;
  font-weight: normal;
  border: none;
  padding: 6px 0 10px;
  text-decoration: none;
  position: relative;
  margin: auto;
  text-shadow: none !important;
  opacity: 1 !important;
  inset: 0 !important;
}

.vue-dropzone > .dz-preview .dz-error-mark,
.vue-dropzone > .dz-preview .dz-success-mark {
  top: 14% !important;
}

.vue-dropzone > .dz-preview .dz-success-mark svg path {
  fill: #862a87;
}

.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 2px !important;
}

.dropzone .dz-preview .dz-details {
  padding: 2em 5px 0 !important;
}

.dz-filename,
.dz-size {
  color: #862a87;
}

.dropzone .dz-preview.dz-image-preview {
  border-radius: 10px;
}

#custom-dropzone-alert {
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  max-width: 300px;
  margin: 10px auto;

  button {
    position: absolute;
    color: white;
    top: 5px;
    background: none !important;
    border: none;
  }
}

.v-application--is-rtl #custom-dropzone-alert {
  padding-left: 33px;
}

.v-application--is-ltr #custom-dropzone-alert {
  padding-right: 33px;
}

.v-application--is-rtl #custom-dropzone-alert button {
  left: 5px;
}

.v-application--is-ltr #custom-dropzone-alert button {
  right: 5px;
}

.v-application--is-rtl .dz-details {
  direction: ltr;
}
