$color-white: #fff;
$color-file-drag: #e1e4e8;
$color-black: #e1e4e8;

.file-drag {
  position: relative;
  margin-top: 7px;

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }

  &__gallery {
    min-width: 100%;
    min-height: 128px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(193, 193, 193, 0.5);
    background-color: #ffffff;
    padding: 15px;
  }
}

.update_icon {
  width: 1.2em;
  height: 1.2em;
  background: green;
  font-size: 18px !important;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: 0;
  transition: all 0.2s ease;
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  color: #fff !important;
}

.img_pointer:hover .update_icon {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.file-drag button img {
  display: block;
  /* max-height: 100px; */
  margin: auto;
  max-height: auto;
}

.file-drag .button--upload_drag {
  margin: 0;
  font-size: 16px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  background-color: $color-white;
  border-bottom: transparent;
  position: relative;
  border-radius: 5px;
  height: 215px !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1 !important;
  white-space: normal;
  .v-btn__content {
    flex: 0 0 100%;
    padding: 0 10px;
  }
  // &--active {
  //     border: 1px solid $color-file-drag;
  //     border-radius: 5px;
  //     color: $color-black;
  //     box-shadow: none;
  // }
}

.file-drag .v-btn.primary--text:hover span {
  color: #000 !important;
}

.v-btn:hover::before {
  opacity: 0.02;
}
