$lightGray: #fdfdfd;
$middleGray: #f9f9f9;
$darkGrey: #606162;
$info: #2196f3;
$warning: #fb8c00;
$error: #ef1e41;
$english_font: "Cairo", sans-serif;
$Font: "Cairo", sans-serif;
$btn-rounded-border-radius: 5px;
$skeleton-loader-card-heading-loader-heading-margin: 0px;
.font-bold {
  font-weight: bold !important;
}
.font-medium {
  font-weight: 500 !important;
}
.font-light {
  font-weight: 300 !important;
}
